!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand #{title}
          ul.nav
            li
              a(href='/') home
            li.active
              a(href='/about') about
            li
              a(href='mailto:info@researchagenda.org') contact
    div.container
      div.hero-unit
        h1 about researchAgenda
        p text about the website. 

  footer
    p &copy; This Is Our Algorithm 2013


